In [2]:
import os
import numpy as np
import pandas as pd

In [89]:
submissions = pd.DataFrame()

for file in os.listdir('submissions/'):
    if file.endswith('.csv') and not file.startswith('avg'):
        df = pd.read_csv(os.path.join('submissions',file))
        submissions[file.split('.')[0]] = df['Response']
submissions.head()

   sub03  sub06  sub05  sub02  sub04  sub01
0      2      2      3      2      3      3
1      7      7      7      7      7      7
2      7      7      7      7      7      6
3      7      7      7      7      6      7
4      7      8      8      7      7      7

In [90]:
submissions['sub05_2'] = submissions['sub05']
submissions['sub05_3'] = submissions['sub05']
submissions['sub05_4'] = submissions['sub05']
submissions['sub05_5'] = submissions['sub05']

In [91]:
sub = pd.DataFrame(submissions.mode(axis=1)[0], columns=['mode'])

In [92]:
submissions.tail()

,sub03,sub06,sub05,sub02,sub04,sub01,sub05_2,sub05_3,sub05_4,sub05_5
19760,8,8,8,8,8,8,8,8,8,8
19761,8,8,8,8,8,8,8,8,8,8
19762,2,2,2,2,3,3,2,2,2,2
19763,2,2,1,2,2,2,1,1,1,1
19764,2,2,1,2,2,2,1,1,1,1

In [93]:
sample = pd.read_csv('sample_submission.csv')
print(len(sample), len(sub))
sample.Response = sub['mode'].astype(int).as_matrix()
sample.to_csv('submissions/avg_sub05.csv', index=False)

19765 19765